body {
  background-color: #222325;
}

span {
  margin-left: 12rem;
}

#numero {
  margin-left: 0.5rem;
}

button#adicionar {
  margin-left: 2rem;
}

#select {
  width: 10rem;
  margin-left: 20rem;
}

#calculo {
  margin-left: 23rem;
}

.box {
  align-items: center;
  height: 25rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 6rem;
  background-color: lightyellow;
  border-radius: 10px;
}

